<p>
  The attempted deployment of the <strong><%=branch%></strong> branch of <strong><%=repo%></strong> on <strong><%=server%></strong> was successful.
</p>

<p>
  Date of deploy: <br/>
  <%=date%>
</p>


